<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/system">
                    <span data-feather="airplay"></span>
                    System
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/interfaces">
                    <span data-feather="sliders"></span>
                    Interfaces
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addressing">
                    <span data-feather="archive"></span>
                    Adressing
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/routing">
                    <span data-feather="server"></span>
                    Routing
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logs">
                    <span data-feather="clipboard"></span>
                    Logs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">
                    <span data-feather="log-out"></span>
                    Log Out
                </a>
            </li>
        </ul>
    </div>
</nav>