<main class="col-md-8 ms-sm-auto col-lg-10 px-md-4">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-5">
                      <h2>Routing Table</h2>
                  </div>
              </div>
          </div>
          <table class="table table-striped table-hover">
              <thead>
                  <tr>
                      <th></th>
                      <th>Protocol</th>
                      <th>Interface</th>
                      <th>Next Hop</th>
                      <th>Time Up</th>
                  </tr>
              </thead>
              <tbody>
                <% routes.forEach(function(route){ %>
                  <tr>
                     <td></td>
                     <td><%= route.protocol %></td>
                     <td><%= route.interface %></td>
                     <td><%= route.nextHop %></td>
                     <td><%= route.timeUp %></td>
                   </tr>
                 <% }); %>
              </tbody>
          </table>
      </div>
  </div>  
</main>